<ion-view view-title="Quiz">
    <ion-content>
        <ion-refresher on-refresh="quizCtrl.getQuiz()"></ion-refresher>

		<div class="padding" ng-show="quizCtrl.error">{{quizCtrl.errorMessage}}</div>

        <ion-list>
            <div collection-repeat="item in quizCtrl.questions" divider-collection-repeat>
                <ion-item class="item-icon-right" style="height: 100%;" href="#/app/agreement/{{item.AgreementID}}">
                    <h2>{{item.question}}</h2>
                </ion-item>
            </div>
        </ion-list>

    </ion-content>
</ion-view>
