/* Empty. Add your own CSS if you like */

.button.alternative-button {
    background-color: #387ef5;
    color: #fff;
    border-color: #0c60ee;
    border-radius: 0 !important;
    background-image: linear-gradient(0deg, #0c60ee, #0c60ee 5%, transparent 80%);
}
.button.alternative-button:hover {    
    background-color: #387ef5;
    color: #fff;
    border-color: #0c60ee;
    border-radius: 0 !important;
    background-image: linear-gradient(0deg, #0c60ee, #0c60ee 5%, transparent 80%);
}


.float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  padding: 30px;
  font-size: 25px;
  background: #387ef5;
  position: fixed;
  bottom: 20px; /* Adjust to where you want it */
  right: 20px; /* Adjust to where you want it */
  z-index: 9999;
  box-shadow: 2px 2px 1px #888888;
}

.platform-ios .float-button-tabs{
	bottom: 60px;
}
/*
.platform-android .float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  padding: 30px;
  font-size: 30px;
  background: blue;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.platform-ios .float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  padding: 30px;
  font-size: 30px;
  background: blue;
  position: absolute;
  bottom: 60px;
  right: 20px;
  z-index: 9999;
}*/
  /* float button right: 50%;
  margin-right: -15px; /* Half the width of the button*/

.float-button .height_fix {
  margin-top: 100%;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 60%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px; /* Note, this must be half the font size */
  color: #fff;
}